body {
	background-color: black;
}
#joog {
	font-family: Monospace;
	color: #FF6600
	font-size: 40px;
	margin-left: 25%;
	margin-right: 25%;	
}
.problem_description {
	float: center;
	border: 1px solid white;
	margin: 0px 20%;
	margin-top: 2%;
	padding-left: 2%;
	padding-right: 2%;
}
.problem_description>p,div,ul {
	font-family: Garamond; 
	color: white;
	text-align: left;
}
#pascal {
	text-align: center;
}
form {
	text-align: center;
}
